@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-100: hsl(322.5,100%,98.4%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* Typography */
  --font-primary: "Outfit", "sans-Serif";
  --font-secondary: "Young Serif", "sans-Serif";
  --font-size-xl: 2.2rem;
  --font-size-lg: 2rem;
  --font-size-md: 1rem;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

/* css resets */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--stone-600);
}
img {
  display: block;
  max-inline-size: 100%;
}
h2 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
}
h3 {
  display: inline;
}
hr {
  opacity: 0.2;
}
ul, ol {
  margin-inline-start: 1.1em;
}
.list-space {
  margin-inline-start: 1.2em;
}

/* content styling */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--stone-100);
  min-height: 100vh;
}
main {
  background-color: var(--white);
  padding: 1.5em;
  display: grid;
  row-gap: 1.3em;
  width: min(700px, 100%);
  overflow: hidden;
}
.image-slider {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 3%;
  height: 300px;
  
  img {
    object-fit: cover;
    animation: slider 15s infinite;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3%;
  }
  img:nth-child(2) {
    right: -100%;
  }
  img:nth-child(3) {
    right: -200%;
  }
  img:nth-child(4) {
    right: -300%;
  }
}
.introduction {
  h1 {
    font-size: var(--font-size-xl);
    font-family: var(--font-secondary);
    padding-block-end: 0.2em;
    margin-block-end: 0.6em;
    color: var(--stone-900);
    font-weight: var(--font-weight-400);
    border-image: repeating-linear-gradient(45deg, var(--stone-900) 0 10px, var(--brown-800) 0 20px) fill 0 /
    calc(100% - 5px) 0 0/0 100vw repeat;
  }
}
.preparation-time {
  background-color: var(--rose-100);
  padding: 1.5em;
  padding-block-end: 0;
  border-radius: 6%;
  
  h2 {
    color: var(--rose-800);
    font-family: var(--font-primary);
  }
  li {
    margin-block: 0.5em;
  }
  ::marker {
    color: var(--rose-800);
  }
}
.ingredients {
  h2 {
    color: var(--brown-800);
    font-size: var(--font-size-lg);
    margin-block-end: 0.8em;
  }
  li {
    margin-block: 0.5em;
  }
}
.instructions {
  h2 {
    color: var(--brown-800);
    font-size: var(--font-size-lg);
    margin-block-end: 0.8em;
  }
  li {
    margin-block: 0.5em;
  }
}
.nutrition {
  h2 {
    color: var(--brown-800);
    font-size: var(--font-size-lg);
  }
  p {
    margin-block: 1em;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  tr:not(:last-child) {
    border-bottom: solid 1.5px #0000002c;
  }
  td, th{
    padding: 0.7em;
  }
  td span {
    color: var(--brown-800);
    font-weight: var(--font-weight-700);
  }
}

/* media queries */

@media (max-width: 21em) {
  :root {
    --font-size-xl: 1.9rem;
    --font-size-lg: 1.5rem;
    --font-size-md: 0.9rem;
  }
}
@media (min-width: 47.6875em) {
  :root {
    --font-size-xl: 2.4rem;
    --font-size-lg: 2.2rem;
  }
  main {
    border-radius: 19px;
    padding: 2em;
    margin-block: 4em;
  }
}

/* animation */

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  85% {
    transform: translateX(-200%);
  }
  90% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}