@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$fontColor: #27273D;
$primaryColor: #4D96A9;
$secondaryColor: #855FB2;
$hoverColor1: #22454f;
$hoverColor2: #452d63;
$fontsizeXL: 3rem;
$fontsizeLG: 2.5rem;
$fontsizeMD: 1.7rem;
$fontsizeSM: 1.3rem;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display";
  text-align: center;
}
html {
  font-size: 81.25%;
}
button {
  font-size: $fontsizeMD;
}
.main {
  opacity: 0;
  transition: all 0.7s;
  position: relative;
  right: 10px;
  display: none;
}
.logo{
  padding: 35px 0;
  @include flex-center;
}
.hero-image{
  padding: 25px 0;
  @include flex-center;
  width: 100%;
  overflow: hidden;
}
.hero-image img {
  width: 115%;
}
.hero-image #left-img, .hero-image #right-img {
  display: none;
}
.hero-section{
  div:nth-child(2) {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 80px;
  }
  h1 {
    font-size: $fontsizeXL;
    color: $fontColor;
    font-weight: 900;
    margin: 15px 20px;
  }
  p{
    font-size: $fontsizeSM;
    color: $fontColor;
    opacity: 0.8;
    margin: 10px 30px 20px;
  }
}
.hero-btn {
  padding: 17px 35px;
  border: none;
  border-radius: 60px;
  margin: 6px 0;
  font-weight: 700;
  color: #fff;
}
#hero-btn1 {
  background-color: $primaryColor;
}
#hero-btn1:hover, #hero-btn1:active{
  background-color: $hoverColor1;
}
#version {
  opacity: 0.6;
}
#hero-btn2, #hero-btn3 {
  background-color: $secondaryColor;
}
#hero-btn2:hover, #hero-btn3:hover, #hero-btn2:active, #hero-btn3:active {
  background-color: $hoverColor2;
}
.count {
  @include flex-center;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
  
  div {
    height: 120px;
    width: 1px;
    background-color: #0000002e;
  }
  p{
    border-radius: 50%;
    border: solid 1px #0000002e;
    width: 45px;
    height: 45px;
    @include flex-center;
    font-weight: 700;
    opacity: 1 !important;
    color: grey;
    background-color: #fff;
  }
}
.part1 {
  .user-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 0;
    justify-items: center;
    margin: 28px 14px;
  }
  img {
    width: 85%;
    border-radius: 12px;
  }
  h2 {
    color: $primaryColor;
    font-size: $fontsizeMD;
    margin: 105px 20px 0;
  }
  h1 {
    color: $fontColor;
    font-size: $fontsizeLG;
    font-weight: 900;
    margin: 20px 20px 45px;
  }
  p{
    font-size: $fontsizeSM;
    opacity: 0.5;
    font-weight: 700;
    margin: 0 30px 60px;
  }
}
.part2 {
  margin-top: 190.5px;
  position: relative;
  background: url("./assets/image-footer-mobile.jpg") no-repeat top center;
  background-size: cover;
  color: #fff;
  
  & * {
    z-index: 1;
  }
  #count2 {
    position: absolute;
    top: -142.5px;
  }
  .footer {
    @include flex-center;
    flex-direction: column;
  }
  h1 {
    font-size: $fontsizeLG;
    margin: 55px 20px 30px;
  }
  p{
    font-size: $fontsizeSM;
    margin: 0 30px;
  }
  button {
    margin: 45px 0 40px;
  }
}

.part2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $primaryColor;
  opacity: 0.7;
}

@media (min-width: 820px) {
  .part1 {
    p {
      margin-left: 100px;
      margin-right: 100px;
    }
  }
  .part1 .user-imgs {
    grid-template-columns: repeat(4, 1fr);
  }
  .part2 {
    background-image: url("./assets/image-footer-tablet.jpg");
  }
}
@media (min-width: 1440px) {
  .hero-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    .hero-image img {
      display: none;
    }
    .hero-image #left-img, .hero-image #right-img
    {
      display: inline-block;
    }
  }
  .part2 {
    background-image: url("./assets/image-footer-desktop.jpg");
  }
}

.loading-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  border-radius: 50%;
  position: absolute;
  border: solid 3px #fff;
  transition: transform 2s linear;
}
#circle1{
  padding: 40px;
  border-top: solid 3px #b00000;
  border-right: solid 3px #b00000;
  border-bottom: solid 3px #b00000;
}
#circle2{
  padding: 50px;
  border-bottom: solid 3px #f3ef2a;
  border-left: solid 3px #f3ef2a;
}
#circle3{
  padding: 60px;
  border-left: solid 3px #22b304;
  border-top: solid 3px #22b304;
}